{% extends 'base.html.twig' %}

{% block title %}CdbNews index{% endblock %}

{% block body %}
    <h1>CdbNews index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Content</th>
                <th>Image</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cdb_news in cdb_news %}
            <tr>
                <td>{{ cdb_news.id }}</td>
                <td>{{ cdb_news.title }}</td>
                <td>{{ cdb_news.description }}</td>
                <td>{{ cdb_news.content }}</td>
                <td>{{ cdb_news.image }}</td>
                <td>{{ cdb_news.startDate ? cdb_news.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ cdb_news.endDate ? cdb_news.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ cdb_news.createdAt ? cdb_news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_cdb_news_show', {'id': cdb_news.id}) }}">show</a>
                    <a href="{{ path('app_cdb_news_edit', {'id': cdb_news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cdb_news_new') }}">Create new</a>
{% endblock %}
