{% extends 'base.html.twig' %}

{% block title %}Accueil - Cœur de bourg
{% endblock %}

{% block body %}

	{# Partie 1 #}
	<div class="div-bg-1" id="presentation">
		<div class="col-lg-8 mx-auto p-5 py-md-5">
			<div class="row gx-4 gx-lg-5">
				<div class="col-lg-7 col-md-6">
					<div class="mt-5 mb-5">
						<h1 class="h1 mb-2" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Qui sommes-nous ?
							<img src="images/icons/undraw_heart-fun-blue.svg" width="20rem">
						</h1>
						<img src="images/icons/undraw_fun-underline-blue.svg" width="45rem">
						<p class="text-muted mb-0 mt-4">Située dans le village de
							<b style="color: #46b4b4">Saint-Quentin-de-Caplong</b>,
							<b style="color: #FF9FAC; font-family: Neucha; font-size: large;">Cœur de Bourg</b>
							est une
							<b style="color: #46b4b4">épicerie engagée</b>
							dans la promotion du lien social.
							<br><br>Nous offrons bien plus que des produits alimentaires, en créant un
							<b style="color: #46b4b4">environnement chaleureux</b>
							où les habitants peuvent se retrouver et échanger.
							<br><br>En soutenant les
							<b style="color: #46b4b4">producteurs locaux</b>, nous contribuons à l'économie régionale et préservons les
							<b style="color: #46b4b4">traditions culinaires</b>
							de notre terroir.
							<br><br>Avec un accès facile aux
							<b style="color: #46b4b4">produits de qualité</b>, nous éliminons les obstacles pour les habitants qui ont du mal à se déplacer vers des grandes surfaces éloignées.
							<br><br>De plus, une
							<b style="color: #46b4b4">charmante terrasse</b>
							est à votre disposition pour passer de bon moments de détente et de convivialité en savourant une
							<b style="color: #46b4b4">boisson chaude ou froide</b>
							de leur choix.
							<br><br>En proposant des
							<b style="color: #46b4b4">articles durables et respectueux de l'environnement</b>, nous encourageons une
							<b style="color: #46b4b4">consommation responsable et soucieuse de la planète</b>.
							<br><br>Que vous cherchiez des
							<b style="color: #46b4b4">produits frais</b>, des
							<b style="color: #46b4b4">échanges chaleureux</b>
							ou simplement un
							<b style="color: #46b4b4">endroit accueillant</b>
							pour vos courses, nous sommes fiers de contribuer au renforcement du tissu social de notre village.</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 text-center">
					<div class="mt-5">
						<h1 class="h1 mb-2" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Horaires d'ouverture
							<img src="images/icons/undraw_clock-blue.svg" width="20rem">
						</h1>
						<img src="images/icons/undraw_fun-underline-blue.svg" width="45rem">
						<div class="mt-4 pb-5">
							<p class="text-muted mb-0 mt-4">
								<b style="color: #46b4b4">Lundi au samedi</b><br>
								07h30 - 12h30<br>
								17h00 - 19h00<br><br>
								<b style="color: #46b4b4">Dimanche et jours fériés</b><br>
								07h30 - 12h30
							</p>
						</div>
						<div class="row justify-content-center mt-5">
							<div class="col-6 text-center">
								<h1 class="h1 mb-2" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Nous trouver
									<img src="images/icons/undraw_fun-arrow-blue.svg" width="25rem">
								</h1>
								<img src="images/icons/undraw_fun-underline-blue.svg" width="45rem">
								<p class="text-muted mb-0 mt-4">L'épicerie
									<b style="color: #FF9FAC; font-family: Neucha; font-size: large;">Cœur de Bourg</b>
									se situe au cœur du village de
									<b style="color: #46b4b4">Saint-Quentin-de-Caplong</b>
									<br><br>
									<b style="color: #46b4b4">Téléphone</b><br>
									05 57 41 23 60
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Séparation entre partie 1 et partie 2 #}
	<div style="overflow: hidden;" id="news">
		<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #FF9FAC; width: 125%; height: 75px; transform: rotate(180deg);">
			<path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25"/>
			<path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5"/>
			<path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"/>
		</svg>
	</div>

	{# Partie 2 #}
	<div class="div-bg-2">
		<div class="col-lg-8 mx-auto p-5 py-md-5">
			<h1 class="h1 mb-2 text-center" style="font-family: Amatic SC; font-weight: 700; color: #fff">Dernières News
				<img src="images/icons/undraw_sticky-note-white.svg" width="20rem">
			</h1>
			<center><img src="images/icons/undraw_fun-underline-white.svg" width="45rem">
			</center>

			<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
				{% set last_three_news = cdb_news|slice(-3)|reverse %}

				{% if last_three_news|length > 0 %}
					{% for cdb_news in last_three_news %}
						<div class="col">
							<div class="card h-100">
								<img src="/uploads/images/{{ cdb_news.image }}" class="card-img-top" alt="1">
								<div class="card-body">
									<h5 class="card-title" style="font-family: Amatic SC; font-size: 28px; font-weight: 700;">{{ cdb_news.title }}</h5>
									{% if app.user %}
										<p class="text-muted">
											{% if cdb_news.createdBy %}Créée par "{{ cdb_news.createdBy.email }}"
											{% endif %}
											{% if cdb_news.createdAt %}
												{% if not cdb_news.createdBy %}Créée
												{% endif %}
												le
												{{ cdb_news.createdAt.format('d/m/Y \à H:i') }}</p>
										{% endif %}
									{% endif %}
									{% if cdb_news.startDate and cdb_news.endDate %}
										<p class="card-text line-clamp text-muted">Du
											{{ cdb_news.startDate ? cdb_news.startDate|date('Y-m-d') : '' }}
											au
											{{ cdb_news.endDate ? cdb_news.endDate|date('Y-m-d') : '' }}</p>
									{% elseif cdb_news.startDate %}
										<p class="card-text line-clamp text-muted">Le
											{{ cdb_news.startDate ? cdb_news.startDate|date('Y-m-d') : '' }}</p>
										{% else %}
									{% endif %}
									<p class="card-text line-clamp text-muted">{{ cdb_news.description }}</p>
								</div>
								<div class="card-footer text-center">
									<a href="{{ path('app_news_show', {'id': cdb_news.id}) }}" class="btn btn-primary btn-sm" style="font-family: Amatic SC; font-size: 22px; font-weight: 700;">EN SAVOIR PLUS</a>
									{% if app.user %}
										<a href="{{ path('app_news_edit', {'id': cdb_news.id}) }}" class="btn btn-secondary btn-sm" style="font-family: Amatic SC; font-size: 22px; font-weight: 700;">MODIFIER</a>
										{{ include('news/_delete_form.html.twig') }}
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<td colspan="9">Il n'y a aucune news !</td>
				{% endif %}

			</div>

			<div class="col-lg-8 mx-auto mt-5 text-center">
				<a href="/news" class="btn btn-primary btn-sm" style="font-family: Amatic SC; font-size: 28px; font-weight: 700;">Toutes les news
					<img src="images/icons/undraw_circled-arrow-white.svg" width="15rem"></a>
			</div>
		</div>

		{# Partie 3 #}
		<div
			class="div-bg-1">

			{# Séparation entre partie 2 et partie 3 #}
			<div style="overflow: hidden;" id="produits">
				<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #FF9FAC; width: 150%; height: 60px; transform: scaleX(-1);">
					<path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25"/>
					<path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5"/>
					<path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"/>
				</svg>
			</div>

			<div class="col-lg-8 mx-auto p-5 py-md-5">
				<h1 class="h1 mb-2 text-center" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Recette à la une
					<img src="images/icons/undraw_cupcake-blue.svg" width="20rem">
				</h1>
				<center><img src="images/icons/undraw_fun-underline-blue.svg" width="45rem"></center>

				<div class="row row-cols-1 col-lg-4 g-4 pt-5">
					{% for cdb_recipes in cdb_recipes %}
						{% if cdb_recipes.id == featuredValue %}
							<center>
							<div class="col align-self-center">
								<div class="card h-100">
									<img src="/uploads/images/{{ cdb_recipes.image }}" class="card-img-top" alt="1">
									<div class="card-body">
										<h5 class="card-title" style="font-family: Amatic SC; font-size: 28px; font-weight: 700;">{{ cdb_recipes.title }}</h5>
										{% if app.user %}
											<p class="text-muted">
												{% if cdb_recipes.createdBy %}Créée par "{{ cdb_recipes.createdBy.email }}"
												{% endif %}
												{% if cdb_recipes.createdAt %}
													{% if not cdb_recipes.createdBy %}Créée
													{% endif %}
													le
													{{ cdb_recipes.createdAt.format('d/m/Y \à H:i') }}</p>
											{% endif %}
										{% endif %}
										<div class="row row-cols-1 row-cols-md-3">
											<div class="col text-muted">
												<center>
													<i class="fa-solid fa-clock fa-sm"></i>
													{% if cdb_recipes.timeDays %}
														{{ cdb_recipes.timeDays }}
														j
													{% endif %}
													{% if cdb_recipes.timeHours %}
														{{ cdb_recipes.timeHours }}
														h
													{% endif %}
													{{ cdb_recipes.timeMinutes }}
													min</center>
											</div>
											<div class="col text-muted">
												<center>
													<i class="fa-solid fa-brain fa-sm"></i>
													{{ cdb_recipes.difficulty }}</center>
											</div>
											<div class="col text-muted">
												<center>
													<i class="fa-solid fa-euro-sign fa-sm"></i>
													{{ cdb_recipes.pricing }}</center>
											</div>
										</div>
										<p class="card-text line-clamp text-muted">{{ cdb_recipes.description }}</p>
									</div>
									<div class="card-footer text-center">
										<a href="{{ path('app_recipes_show', {'id': cdb_recipes.id}) }}" class="btn btn-primary btn-sm" style="font-family: Amatic SC; font-size: 22px; font-weight: 700;">VOIR LA RECETTE</a>
										{% if app.user %}
											<a href="{{ path('app_recipes_edit', {'id': cdb_recipes.id}) }}" class="btn btn-secondary btn-sm" style="font-family: Amatic SC; font-size: 22px; font-weight: 700;">MODIFIER</a>

											{{ include('recipes/_delete_form.html.twig') }}
										{% endif %}
									</div>
								</div>
							</div>
							</center>
							{% endif %}
						{% else %}
							<td colspan="9">Il n'y a aucune recette !</td>
						{% endfor %}
					</div>
				</div>

				{# Séparation entre partie 3 et partie 4 #}
				<div style="overflow: hidden;" id="contact">
					<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #FF9FAC; width: 125%; height: 75px; transform: rotate(180deg);">
						<path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25"/>
						<path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5"/>
						<path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"/>
					</svg>
				</div>
			</div>

			{# Partie 4 #}
			<div class="div-bg-2">
				<div class="col-lg-6 mx-auto p-5 py-md-5">
					<h1 class="h1 mb-2 text-center" style="font-family: Amatic SC; font-weight: 700; color: #fff">Contact
						<img src="images/icons/undraw_chat-text-white.svg" width="20rem">
					</h1>
					<center><img src="images/icons/undraw_fun-underline-white.svg" width="45rem"></center>

					{# Formulaire de contact #}
					<form class="pt-5" method="POST" action="{{ path('send_email') }}">
						<div class="row g-3 mb-3">
							<div class="col-sm-6">
								<label class="form-label" for="nom">Nom</label>
								<input type="text" class="form-control" aria-label="Nom" id="last_name" name="last_name" required>
							</div>
							<div class="col-sm">
								<label class="form-label" for="nom">Prénom</label>
								<input type="text" class="form-control" aria-label="Prénom" id="first_name" name="first_name" required>
							</div>
						</div>
						<div class="row g-3 mb-3">
							<div class="col-sm-6">
								<label class="form-label" for="nom">E-mail</label>
								<input type="email" class="form-control" aria-label="E-mail" id="email" name="email" required>
							</div>
							<div class="col-sm">
								<label class="form-label" for="nom">Téléphone</label>
								<input type="text" class="form-control" aria-label="Téléphone" id="phone_number" name="phone_number" required>
							</div>
						</div>

						<div class="row g-3 mb-3">
							<div class="col-sm-12">
								<label class="form-label" for="nom">Sujet</label>
								<input type="text" class="form-control" aria-label="Sujet" id="subject" name="subject" required>
							</div>
						</div>

						<div class="row g-3 mb-3">
							<div class="col-sm-12">
								<label class="form-label" for="nom">Message</label>
								<textarea type="text" class="form-control" aria-label="Message" style="height: 10rem;" id="message" name="message" required></textarea>
							</div>
						</div>

						<div class="row g-3 mb-3">
							<div class="col-auto">
								<button class="btn btn-primary" id="submitButton" type="submit" style="font-family: Amatic SC; font-size: 28px; font-weight: 700;">Envoyer</button>
							</div>
						</div>
					</form>

					{% if app.request.hasPreviousSession() %}
						{% for flashMessage in app.session.flashbag.get('success') %}
							<!-- Button trigger modal (hidden) -->
							<button type="button" id="modalTriggerButton" data-bs-toggle="modal" data-bs-target="#successModal" style="display: none;"></button>

							<!-- Modal -->
							<div class="modal fade modal-dialog-centered" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="successModalLabel">Message envoyé</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											{{ flashMessage }}
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary btn-sm" style="font-family: Amatic SC; font-size: 26px; font-weight: 700;" data-bs-dismiss="modal">Parfait !</button>
										</div>
									</div>
								</div>
							</div>

							<!-- Script to trigger the modal on page load -->
							<script>
								document.addEventListener('DOMContentLoaded', function () {
var modalTriggerButton = document.getElementById('modalTriggerButton');
modalTriggerButton.click();
});
							</script>

						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>

	{% endblock %}

